---
import Layout from "../layouts/Layout.astro";

const projects = Object.values(import.meta.glob('./projects/*.md', { eager: true }));
---

<Layout title="Projects | daxog">
  <div class="text-center mx-auto mt-12 text-left max-w-2xl px-4">
    <h1 class="text-3xl">Projects</h1>
    <div class="mt-6">
      {projects.length === 0 ? (
        <p>No projects available yet.</p>
      ) : (
        projects.map((project: any) => (
          <div class="mb-8">
            <div class="flex justify-between items-center">
              <a href={project.url} class="text-xl font-medium hover:underline">{project.frontmatter.title}</a>
              <div class="flex space-x-2">
                {project.frontmatter.links?.map((link: any) => (
                  <a href={link.url} target="_blank" rel="noopener noreferrer" 
                    class="text-gray-600 dark:text-gray-400 hover:underline hover:text-indigo-600 dark:hover:text-indigo-400"
                  >
                    {link.label}
                  </a>
                ))}
              </div>
            </div>
            <p class="mt-2 text-gray-500">{project.frontmatter.technologies?.join(" ")}</p>
            <p class="mt-2">{project.frontmatter.description}</p>
          </div>
        ))
      )}
    </div>
  </div>
</Layout>
